:root {
    --grid-gap: 30px;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #1B1B1B;
    font-family: "Poetsen One", sans-serif;
}

#intro {
    color: #1f1f1f;
    font-size: 6.5vw;
}

.clickable {
    cursor: pointer;
}


#enclosing_div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);

    margin: 8.75%;
    height: 65%;
    /*background: gray; !* temp *!*/
}

.component_box {
    text-align: left;
    box-sizing: border-box; /* Ensures padding and border are included in width calculation */

    transition: transform 0.5s ease;

    height: calc(50% - var(--grid-gap)/2); /* 50% height minus gap */
}

.component_box:hover {
    transform: scale(105%);
}


#top_left_box {
    flex: 1 1 calc(45% - var(--grid-gap));
    background: #ffb3ba;

    display: flex;
    justify-content: center;
    align-items: center;
}

#top_middle_box {
    flex: 1 1 calc(30% - var(--grid-gap));
    background: #ffdfba;
}

#top_right_box {
    flex: 1 1 calc(25% - var(--grid-gap));
    background: #ffffba;
}

#bottom_left_box {
    flex: 1 1 calc(25% - var(--grid-gap));
    background: #baffc9;
}

#bottom_middle_box {
    flex: 1 1 calc(30% - var(--grid-gap));
    background: #bae1ff;
}

#bottom_right_box {
    flex: 1 1 calc(45% - var(--grid-gap));
    background: #e3baff;
}