:root {
    --grid-gap: 30px;
    --background-colour: #1B1B1B;
    --new-page-transition-time: 0.5s;
    --fade-transition-time: 0.5s;
    --subtitle-size: 2vw;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--background-colour);
    color: var(--background-colour);
    font-family: "Poetsen One", sans-serif;
}


/* Individual component functionality */

#intro {
    /* "Hi, I'm JV"  =>  "About me..."  =>  "Jaiveer Chadda" */
    font-size: 6.5vw;
    position: fixed;

    transition: opacity var(--fade-transition-time) ease;
}

#secondary_text {
    /* ""  =>  "Computer Science & Philosophy Student" */
    color: var(--background-colour);
    font-size: var(--subtitle-size);
    opacity: 0;

    transition: opacity var(--fade-transition-time) ease;
    margin-top: 1rem;
}

#bottom_left_title, #flag_div, #bottom_middle_title, #schools_logos_div, #bottom_right_title, #work_logos_div, .box_content {
    transition: opacity var(--fade-transition-time) ease;
}

.box_content {
    opacity: 0;
}

#bottom_left_title {
    /* ""  =>  "Personal"  =>  "Personal Profile" */
    font-size: var(--subtitle-size);
    translate: 0 -0.5rem;

    opacity: 0;
}

#flag_div {
    width: 100%;
    height: 60%;

    margin-top: -1rem;

    opacity: 0;
}

.flag {
    aspect-ratio: 0.90797;
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
}


#bottom_middle_title {
    /* ""  =>  "Education" */
    font-size: var(--subtitle-size);
    translate: 0 -0.5rem;

    opacity: 0;
}

#schools_logos_div {
    width: 100%;
    height: 60%;

    margin-top: -1rem;

    opacity: 0;
}

.school_logo {
    /*aspect-ratio: 0.90797;*/
    /*width: 25%;*/
    height: 80%;
    padding-left: 2%;
    padding-right: 2%;
}

#bottom_right_title {
    /* ""  =>  "Work Experience" */
    font-size: calc(var(--subtitle-size)*1.5);

    opacity: 0;
}

#work_logos_div {
    width: 100%;
    height: 70%;

    translate: 0 -2.5%;

    opacity: 0;
}

#work_logos {
    width: 90%;
}


.clickable {
    cursor: pointer;
}


/* Grid functionality and formatting */

#enclosing_div {
    margin: 8.75%;
    height: 65%;

    position: relative;

    /*background: gray; !* temp *!*/
}

.component_box {
    position: absolute;
    height: calc(50% - var(--grid-gap)/2);

    border-radius: 15px;

    transition: transform 0.5s ease, opacity var(--fade-transition-time), left var(--new-page-transition-time) ease,
        right var(--new-page-transition-time) ease, width var(--new-page-transition-time) ease,
        height var(--new-page-transition-time) ease, background 0.5s ease;
}

.expandable:hover {
    transform: scale(105%);
}

#top_left_box, #top_middle_box, #top_right_box {
    top: 0;
}

#top_left_box {
    background: #FFB3BA;
    width: 45%;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text */
}

#top_middle_box {
    background: #FFDFBA;

    width: calc(30% - var(--grid-gap));
    left: calc(45% + var(--grid-gap));
    right: 25%;
}

#top_right_box {
    background: #FFFFBA;

    width: calc(25% - var(--grid-gap));
    right: 0;
}


#bottom_left_box, #bottom_middle_box, #bottom_right_box {
    bottom: 0;
}

#bottom_left_box {
    background: #BAFFC9;

    width: 25%;
    left: 0;

    justify-content: center;
    text-align: center;
}

#bottom_middle_box {
    background: #BAE1FF;

    width: calc(30% - var(--grid-gap));
    left: calc(25% + var(--grid-gap));
    right: 45%;

    justify-content: center;
    text-align: center;
}

#bottom_right_box {
    background: #E3BAFF;

    width: calc(45% - var(--grid-gap));
    right: 0;

    justify-content: center;
    text-align: center;
}
