:root {
    --grid-gap: 30px;
    --background-colour: #1B1B1B;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--background-colour);
    font-family: "Poetsen One", sans-serif;
}

/* Individual component functionality */

#intro {
    color: var(--background-colour);
    font-size: 6.5vw;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
}

.clickable {
    cursor: pointer;
}

/* Grid functionality and formatting */

#enclosing_div {
    margin: 8.75%;
    height: 65%;

    position: relative;

    /*background: gray; !* temp *!*/
}

.component_box {
    text-align: left;
    box-sizing: border-box; /* Ensures padding and border are included in width calculation */

    transition: transform 0.5s ease, opacity 0.35s ease, width 0.5s ease;

    position: absolute;

    border-radius: 15px;
    height: calc(50% - var(--grid-gap)/2); /* 50% height minus gap */
}

.component_box:hover {
    transform: scale(105%);
}

#top_left_box, #top_middle_box, #top_right_box {
    top: 0;
}

#top_left_box {
    background: #FFB3BA;

    width: 45%;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

#top_middle_box {
    background: #FFDFBA;

    width: calc(30% - var(--grid-gap));
    left: calc(45% + var(--grid-gap))
}

#top_right_box {
    background: #FFFFBA;

    width: calc(25% - var(--grid-gap));
    right: 0;
}


#bottom_left_box, #bottom_middle_box, #bottom_right_box {
    bottom: 0;
}

#bottom_left_box {
    background: #BAFFC9;

    width: 25%;
    left: 0;
}

#bottom_middle_box {
    background: #BAE1FF;

    width: calc(30% - var(--grid-gap));
    left: calc(25% + var(--grid-gap))
}

#bottom_right_box {
    background: #E3BAFF;

    width: calc(45% - var(--grid-gap));
    right: 0;
}
