:root {
    --grid-gap: 30px;
    --background-colour: #1B1B1B;
    --new-page-transition-time: 0.5s;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--background-colour);
    color: var(--background-colour);
    font-family: "Poetsen One", sans-serif;
}


/* Individual component functionality */

#intro {
    font-size: 6.5vw;
    position: fixed;

    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
}

#secondary_text {
    color: var(--background-colour);
    font-size: 2vw;
    opacity: 0;

    transition: opacity 0.5s ease;
    margin-top: 1rem;
}

#personal_title, #flag_div, #education_title, #schools_logos_div {
    transition: opacity 0.5s ease;
}

#personal_title {
    font-size: 2vw;
    translate: 0 -0.5rem;

    opacity: 0;
}

#flag_div {
    width: 100%;
    height: 60%;

    margin-top: -1rem;

    opacity: 0;
}

.flag {
    aspect-ratio: 0.90797;
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
}


#education_title {
    font-size: 2vw;
    translate: 0 -0.5rem;

    opacity: 0;
}

#schools_logos_div {
    width: 100%;
    height: 60%;

    margin-top: -1rem;

    opacity: 0;
}

.school_logo {
    /*aspect-ratio: 0.90797;*/
    /*width: 25%;*/
    height: 80%;
    padding-left: 2%;
    padding-right: 2%;
}



.clickable {
    cursor: pointer;
}


/* Grid functionality and formatting */

#enclosing_div {
    margin: 8.75%;
    height: 65%;

    position: relative;

    /*background: gray; !* temp *!*/
}

.component_box {
    position: absolute;
    height: calc(50% - var(--grid-gap)/2);

    border-radius: 15px;

    transition: transform 0.5s ease, opacity 0.35s ease, left var(--new-page-transition-time) ease,
        width var(--new-page-transition-time) ease, height var(--new-page-transition-time) ease,
        background 0.5s ease;
}

.component_box:hover {
    transform: scale(105%);
}

#top_left_box, #top_middle_box, #top_right_box {
    top: 0;
}

#top_left_box {
    background: #FFB3BA;
    width: 45%;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text */
}

#top_middle_box {
    background: #FFDFBA;

    width: calc(30% - var(--grid-gap));
    left: calc(45% + var(--grid-gap));
    right: 25%;
}

#top_right_box {
    background: #FFFFBA;

    width: calc(25% - var(--grid-gap));
    right: 0;
}


#bottom_left_box, #bottom_middle_box, #bottom_right_box {
    bottom: 0;
}

#bottom_left_box {
    background: #BAFFC9;

    width: 25%;
    left: 0;

    justify-content: center;
    text-align: center;
}

#bottom_middle_box {
    background: #BAE1FF;

    width: calc(30% - var(--grid-gap));
    left: calc(25% + var(--grid-gap));
    right: 45%;

    justify-content: center;
    text-align: center;
}

#bottom_right_box {
    background: #E3BAFF;

    width: calc(45% - var(--grid-gap));
    right: 0;
}
